html, body {
    background: black;
    position: absolute;
    left: 25%;
    top: 25%;
}   
canvas {
    display: table-cell;
    padding: inherit;
    border-width: thin;
    border-color: aliceblue;
}
